#centerized-div{
    min-height: 100vh
}

#resultScreen{
    height: 10vh;
    font-size: 7vh;
}

#calculator-base{
    border-radius: 5vh;
    background-color: rgb(185, 185, 185);
}

#border-radius{
    border-radius: 5vh 5vh 0vh 0vh;
}